{% extends 'myapp/div.html' %}
{% block content %}
<section>
    <div class="container">
        <form action='' method="post" class="contact2-form validate-form">
            {% csrf_token %}
            <span class="contact2-form-title">
                Root-finding
            </span>
            <select class="form-control" id="select" name=function onchange="myFunctiongetselect()">
                <option value="incremental">Incremental Search Method</option>
                <option value="bisection">Bisection Method</option>
                <option value="newton">Newton-Raphson Method</option>
                <option value="secant">Secant Method</option>
            </select>
            <br>
            <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input2" type="text" name="fx">
                <span class="focus-input2" data-placeholder="function"></span>
            </div>
            <input type="submit" class="btn btn-primary"></input>
        </form>
    </div>
    <br>
    <center>
        <div class="col-md-6">
            <h2><strong> ผลลัพธ์ </strong></h2>
            <h4>{{x}}</h4>
        </div>
    </center>
</section>
<script>
    function myFunctiongetselect() {
        var x = document.getElementById("select").value;
        if (x == "newton") {
            var paragraph = document.getElementById("df");
            var text = document.createTextNode("ฟังก์ชั้นDif1ครั้ง");
            paragraph.appendChild(text);
            var x = document.createElement("INPUT");
            x.setAttribute("id", "dx");
            x.setAttribute("name", "dx");
            x.setAttribute("class", "form-control");
            x.setAttribute("type", "text");
            x.setAttribute("placeholder", "9*x**2-20*x");
            x.setAttribute("value", "9*x**2-20*x");
            document.getElementById("df").appendChild(x);
        } else {
            var div = document.getElementById("dx");
            div.parentNode.removeChild(div);
        }
    }
</script>

</section>
{% endblock content %}